body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.iconColor {
  color: azure !important;
}

.badgePlace {
  position: relative;
  display: inline-block;
  background-color: red;
  /* margin: 20px 20px 10px 20px; */
  right: 15px;
  top: -20px;
  padding: 7px !important;
  border-radius: 45% !important;
}

.loadingCenter {
  margin-top: 200px !important;
}

/* .imagePosition {
  margin-left: 40px;
  margin-top: 40px;
} */

.root {
  background-image: url("/navy.png");
}
